DJANGO_SECRET_KEY=my-secret-key
DEBUG=True # [True, False]
STRIPE_PUBLIC_KEY=pk_***
STRIPE_SECRET_KEY=sk_***
POSTGRES_DB=shop_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
ADMIN_USERNAME=admin
ADMIN_EMAIL=admin@ma.ru
ADMIN_PASSWORD=admin
BASE_URL=http://localhost:8000/
