<!DOCTYPE html>
<html>
  <head>
    <title>Buy Item {{ item.name }}</title>
    <script src="https://js.stripe.com/v3/"></script>
  </head>
  <body>
    <h1>Buy Item {{ item.name }}</h1>
    <p>{{ item.description }}</p>
    <p>{{ item.price }} {{ item.currency }}</p>
    <button id="buy-button">Buy</button>
    <script type="text/javascript">
      var stripe = Stripe('{{ public_key }}');
      var buyButton = document.getElementById('buy-button');
      buyButton.addEventListener('click', function() {
        // Create a new Checkout Session using the server-side endpoint
        // Redirect to Stripe Session Checkout
        fetch('api/v1/buy/{{ item.id }}', {method: 'GET'})
        .then(response => response.json())
        .then(session => stripe.redirectToCheckout({ sessionId: session['session_id'] }))
      });
    </script>
  </body>
</html>
