<!DOCTYPE html>
<html>
  <head>
    <title>Заказ {{ order.id }}</title>
    <script src="https://js.stripe.com/v3/"></script>
  </head>
  <body>
    <h1>Заказ {{ order.id }}</h1>
    {% for item_in_order in order.iteminorder_set %}
    <h2>Item {{ item_in_order.item.name }}</h1>
    <p>{{ item_in_order.item.description }}</p>
    <p>{{ item_in_order.item.price }} {{ item_in_order.item.currency }} X {{ item_in_order.quantity }}</p>
    {% endfor %}
    <h2>Total: {{ order.total }} {{ order.currency }}</h2>
    {% if order.is_paid %}
    <p>ОПЛАЧЕНО</p>
    {% else %}
    <button id="buy-button">Купить</button>
    {% endif %}
    <script type="text/javascript">
      var stripe = Stripe('{{ public_key }}');
      var buyButton = document.getElementById('buy-button');
      buyButton.addEventListener('click', function() {
        // Create a new Checkout Session using the server-side endpoint
        // Redirect to Stripe Session Checkout
        fetch('/api/v1/orders/{{ order.id }}/buy', {method: 'GET'})
        .then(response => response.json())
        .then(session => stripe.redirectToCheckout({ sessionId: session['session_id'] }))
      });
    </script>
  </body>
</html>
